.header {
  margin-top: 77px;
}

a {
  color:#428bca;
  -webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

a:hover {
  color:#2a6496;
}

.img-circle {
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.social {
  margin-top: 10px;
}

.social a{
  text-indent: -9999px;
  display: inline-block;
  height: 23px;
  width: 23px;
}

a.facebook {
  background-image:url('../img/facebook.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

a.twitter {
  background-image:url('../img/twitter.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

a.flickr {
  background-image:url('../img/flickr.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

a.linkedin {
  background-image:url('../img/linkedin.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

a.github {
  background-image:url('../img/github.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

a.googleplus {
  background-image:url('../img/googleplus.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}