<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <link rel="shortcut icon" href="/img/dt.png" />
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <link href='http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <div class="hero" style="background-image: url('/img/{{ page.background || background }}');">
      </div>
      <div class="row bg">
        <div class="container">
            <div class="row side">
                {% include sidebar.html %}
