                <div class="col-md-3 text-center">
                  <a href="/"><img class="img-circle" src="/img/dt.png" alt="Danny Tran" title="That was me at Computer Science Games 2013. Photo credit to Alexandre Mathieu."/></a>
                  <h1 class="title">Danny Tran</h1>
                  <span class="small">Web application developer</span>
                  <ul class="list-unstyled list-inline social">
                      <li><a class="github" href="https://github.com/dannytranlx">GitHub</a></li>
                      <li><a class="twitter" href="https://twitter.com/dannytranlx">Twitter</a></li>
                      <li><a class="facebook" href="https://facebook.com/dannytranlx">Facebook</a></li>
                      <li><a class="linkedin" href="http://ca.linkedin.com/in/dannytranlx/en">LinkedIn</a></li>
                      <li><a class="flickr" href="http://www.flickr.com/dannytranlx">Flickr</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <hr>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/projects">PROJECTS</a></li>
                    <li><a href="/blog">BLOG</a></li>
                  </ul>
              </div>
