::-moz-selection {
    background: #fae2db;
}
::selection {
    background: #fae2db;
}
.overlay.color span.bg {
    background: rgba(229, 108, 76, 0.8);
}
a.hover:hover {
    border-bottom: 1px solid #e56c4c;
}
a {
    color: #e56c4c;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #e56c4c;
}
.color-wrapper {
    background: #e56c4c;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.highlighted {
    color: #e56c4c;
}
.navbar .social-mute a:hover i {
    color: #e56c4c;
}
.btn {
    background: #e56c4c;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #da5c3b;
}
.btn.btn-border {
    border: 2px solid #e56c4c;
    color: #e56c4c;
}
.btn.btn-border:hover,
.btn.btn-border:focus,
.btn.btn-border:active,
.btn.btn-border.active {
    border: 2px solid #e56c4c;
    background: #e56c4c;
    color: #FFF;
}
.btn-group .dropdown-menu>li>a:hover,
.btn-group .dropdown-menu>li>a:focus {
    color: #e56c4c;
}
.image-list li a:hover {
    color: #e56c4c
}
.list-group-item.active {
    background-color: #e56c4c;
    border-color: #e56c4c
}
.cbp-filter-item.cbp-filter-item-active,
.cbp-filter-item:hover {
    color: #e56c4c;
}
.swiper-container-wrapper .swiper-pagination .swiper-pagination-bullet:hover,
.swiper-container-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #e56c4c
}
.post-title a:hover,
.more:hover,
.meta a:hover {
    color: #e56c4c;
}
.post-nav-wrapper a:hover {
    color: #e56c4c;
}
.sidebox a:not(.btn):hover {
    color: #e56c4c
}
#comments .info h6 a:hover {
    color: #e56c4c;
}
.social-mute a:hover i {
    color: #e56c4c;
}
.inverse-text .social-mute a:hover i {
    color: rgba(255, 255, 255, 0.75) !important;
}
.icon-color {
    color: #e56c4c
}
.box.box-border:hover,
.box.box-border:hover:before {
    border-color: #e56c4c
}
.overlay.caption-dark .meta a:hover {
    color: #e56c4c !important;
}
.accordion-wrapper.lined .card-header a,
.accordion-wrapper.lined .card-header a:hover,
.accordion-wrapper.lined .card-header a.collapsed:hover {
    color: #e56c4c;
    border-color: #e56c4c;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link.active {
    color: #e56c4c;
    border-color: #e56c4c !important;
}
.tooltip-inner {
    background-color: #e56c4c;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #e56c4c;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #e56c4c;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #e56c4c;
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #e56c4c;
}
textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #e56c4c
}
.custom-control-input:active~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #e56c4c
}
.ratings:after {
    color: #e56c4c;
}
.pagination ul>li>a:hover,
.pagination ul>.active>a {
    color: #e56c4c;
}
.pagination.bordered ul>li>a:hover,
.pagination.bordered ul>.active>a {
    color: #e56c4c;
}
.page-navi:not(.bg) a:hover {
    color: #e56c4c
}
.inverse-text .pagination:not(.bg) ul>li>a:hover,
.inverse-text .page-navi:not(.bg) a:hover,
.inverse-text .nav-tabs .nav-link:hover,
.inverse-text .cbp-filter-item:hover {
    color: #e56c4c !important;
}
.inverse-text .accordion-wrapper.lined .card-header a:hover,
.inverse-text .tabs-wrapper:not(.lined) .nav-tabs .nav-link:not(.active):hover {
    color: #e56c4c !important;
    border-color: #e56c4c !important;
}
.inverse-text .box.box-border:hover,
.inverse-text .box.box-border:hover:before {
    border-color: #e56c4c
}
.color-default,
.list-default>li:before,
.list-default i {
    color: #e56c4c !important;
}
.bg-default {
    background-color: #e56c4c !important;
}
.border-default {
    border-color: #e56c4c !important;
}
.progressbar.default svg path:last-child {
    stroke: #e56c4c !important;
}
.progressbar.border.default {
    border-color: #e56c4c !important;
}
.circle.default .progressbar-text {
    color: #e56c4c !important;
}
@media (min-width: 992px) {
    .navbar-nav>li>.dropdown-menu {
        border-top: 2px solid #e56c4c;
    }
}